.ExcelTable2007 {
	
    border: 1px solid #B0CBEF;
	
    border-width: 1px 0px 0px 1px;
	
    font-size: 11pt;
	
    font-family: Calibri;
    text-align: center;
	
    font-weight: bold;
	
    border-spacing: 0px;
	
    border-collapse: collapse;
	

}



.ExcelTable2007 TH {
	
    /*background-image: url(images/excel-2007-header-bg.gif);
	
    font-size: 12px;
	*/
    background-repeat: repeat-x;
	
    font-weight: bold;
	
    border: 1px solid #9EB6CE;
    text-align: center;
	
    border-width: 0px 1px 1px 0px;
	
    height: 17px;
	
    background: -moz-linear-gradient(top,  rgba(180,223,91,0.32) 0%, rgba(180,223,91,0.9) 100%);
	 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,223,91,0.32)), color-stop(100%,rgba(180,223,91,0.9)));
	 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(180,223,91,0.32) 0%,rgba(180,223,91,0.9) 100%);
	 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(180,223,91,0.32) 0%,rgba(180,223,91,0.9) 100%);
	 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(180,223,91,0.32) 0%,rgba(180,223,91,0.9) 100%);
	 /* IE10+ */
    background: linear-gradient(to bottom,  rgba(180,223,91,0.32) 0%,rgba(180,223,91,0.9) 100%);
	 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b4df5b', endColorstr='#e6b4df5b',GradientType=0 );
	 /* IE6-9 */
	

}



.ExcelTable2007 TD {
	
    border: 0px;
	
    background-color: white;
	
    padding: 0px 4px 0px 2px;
	
    border: 1px solid #D0D7E5;
	
    border-width: 0px 1px 1px 0px;
	
	padding:5px;
	

}



.ExcelTable2007 TD B {
	
    border: 0px;
	
    background-color: white;
	
    font-weight: bold;
	

}



.ExcelTable2007 TD.heading {
	
    background-color: #E4ECF7;
	
    text-align: center;
	
    border: 1px solid #9EB6CE;
	
    border-width: 0px 1px 1px 0px;
	

}



.ExcelTable2007 TH.heading {
	
    background-image: url(images/excel-2007-header-left.gif);
	
    background-repeat: none;
	

}



.ExcelTable2007 TR:hover{
	
background:#cdcdcd

}
/******************************************************hover table*************/